nav {

	text-align: center;
	background-color: orange

	}

body {
text-align: center; 
font-family: helvetica 
	}


h1,h2,h3,h4 {

	text-align: center; color:; font-family: helvetica;
}

p { 

	font-family: helvetica;

}

 footer {
    background-color: orange;
    width: 100%;
    bottom: 0;
    position: fixed;
  }